*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: liberation;
    line-height: 1.30769231;
}

@font-face{
    font-family: liberation;
    src: url(./liberation_sans/LiberationSans-Regular.ttf);

}

@font-face{
    font-family: liberationBold;
    src: url(./liberation_sans/LiberationSans-Bold.ttf);
}

body{
    margin-top: 5%;
}

.questions-container{
    display: flex;
    flex-direction: column;
    float: none;
    width: 100%;
}

.question-list{
    border-top-style: solid;
    border-top-width: 1px;
}

.questions {
    display: flex;
    padding: 12px 8px ;
    width: auto;
    border-bottom: 1px solid hsl(210deg 8% 95%); 
}

.page-numbers a, .page-sizer a {
    text-decoration: none;
    color: black;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0 8px;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid hsl(210deg 8% 85%);
    font-size: 13px;
    line-height: 1.92307692;
    color: hsl(210deg 8% 25%);
}

.page-sizer a:nth-child(1), .page-numbers a:nth-child(3){
    border-color: transparent;
    background-color: hsl(27deg 90% 55%);
    color: hsl(0deg 0% 100%);
}

.page-numbers{
    display: flex;
}

.page-sizer{
    display: flex;
    align-items: center;
}

.numbers-down p {
    padding-left: 10px;
}

.numbers-down{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.left {
    color: hsl(210deg 8% 45%);
    margin-right: 16px;
    width: 58px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.votes , .answers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.tags{
    width: auto;
    display: flex;
    align-items: flex-start;
}

.tags a{
    color: hsl(205deg 47% 42%);
    background-color: hsl(205deg 46% 92%);
    border-color: transparent;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    padding: 4.8px 6px;
    margin: 2px;
    font-size: 13px;
}

.tags a:hover{
    color: hsl(205deg 46% 32%);
    background-color: hsl(205deg 53% 88%);
    border-color: transparent;
}

.views {
    display: block;
    text-align: center;
    padding-top: 5px;
}

.question-title a h3{
    color: hsl(206deg 100% 40%);
    font-weight: 400;
    font-size: 1.15384615rem;
    line-height: 1.3;
    margin-bottom: 4px;
}

.question-title a h3:hover{
    color: hsl(206deg 100% 52%);
}

.question-text {
    padding-bottom: 8px ;
    font-size: 13px;
}

.right{
    flex: 1 auto;
    width: auto;
    margin: 0;
}

.right a {
    text-decoration: none;
}

.downside{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.pic{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    margin-right: 7px;
}
    
.avatar{
    display: flex;
    align-items: center;
    padding: 3px;
}

.left strong {
    font-size: 1.1rem;
    line-height: 1;
    font-weight: normal;
}

.reputation-score {
    font-weight: bold;
    font-size: 12px;
    margin-right: 2px;
}

.badge-number{
    font-weight: 400;
    font-size: 12px;
}

.publisher-info {
    width: 200px;
    float: right;
    line-height: 18px;
    margin-top: 0;
    margin-left: auto;
}

.name a:hover{
    color: hsl(206deg 100% 40%);
}

.right-side a {
    text-decoration: none;
}

.related-tags div a{
    color: hsl(205deg 47% 42%);
    background-color: hsl(205deg 46% 92%);
    border-color: transparent;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    padding: 0.4em 0.5em;
    margin: 10px;
    font-size: 13px;
}

.related-tags h4 {
    color: black;
    font-size: 1.46153846rem;
    font-weight: 400;
    margin-bottom: 1em;
}

/*----------------------------------Navigation-------------------------------------*/
    
 nav{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: #F8F9F9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-top: solid 3px #F27405;
    padding: 7px;
    width: 100%;
    font-size: 15px;
    line-height: 17px;
    font-weight: 400;
    position: fixed;
    top: 0;
 }

 
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center; 
}

nav ul a{
    text-decoration: none;
    color: #525960;
    padding: 7px;
}

nav ul li{
   padding: 7px 15px;  
   white-space: nowrap;  
}

nav ul li a:hover{
    background-color: #E3E6E8;
    color: #0C0D0E;
    padding: 7px;
    border-radius: 15px;
}


.searchbar input{
    width: 710px;
    padding: 7px;
}

.searchbar img{
position: relative;
left: 28px;
top: 5px;
}

.navbuttons {
    padding: 0 5px;
}

.login, .signup{
    text-align: center;
    text-decoration: none;
    width: 65px;
    cursor: pointer;
    border: solid 1px#7CA1C9;
    border-radius: 4px;
    height: 35px;
}

.login{
    background-color: #E1EBF5; 
    border: solid 1px#7CA1C9;
    color: #2c5877;  
}

.signup{
    background-color: #2B94FB; 
    border: solid 1px#7CA1C9;
    color: white;  
}
 
.login:hover{
    background-color: #B3D3EA;
}

.signup:hover{
    background-color: #1F74BF;
}

/*---------------------------------------------Footer--------------------------------------------------*/
 
.footer{
    display: flex;
    justify-content:space-evenly;
    align-content:center;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    padding: 30px;
    background-color: #232629;
    color: #9fa6ad;
    
}

.footer h3{
    text-transform: uppercase;
    font-size: 15px;
    color: #babfc4;
    padding: 10px 0;
    font-family: liberationBold;

}

.footer ul li{
    list-style: none;
    padding: 5px;
}

.footer ul li a{
    text-decoration: none;
    color: #9fa6ad;
}

.footer ul li a:hover{
    color: #babfc4;
}

.stacko img{
    position:absolute;
    left: 2%;
}

.social{
    font-size: 12px;
}

.social ul{
    display: flex;
    justify-content:left;
}

.social ul li {
    padding: 2Opx;
    
    
}
.social p{
    padding-top: 70%;
}

.social p a{
    text-decoration: none;
    color: #babfc4;
    font-family: liberationBold;
}


.body{
     margin-right: 150px;
 }

.questions1{
    display: flex;
    

}   
.questions1 h1{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
   
    
} 
.ask{
   background-color: #2B94FB;
   margin-top: 20px;
   margin-right: 20px;
   margin-left: 300px;
   width: 95px;
   height: 40px;
   text-align: center;
   font-size: 12px;
   color: white;
}
.ask:hover{
    background-color: #1F74BF;
}
.paralist{
margin-top: 20px;
margin-left: 20px;
margin-right: 50px;
}
.paralist ul{
    display: flex;
    margin-top: 20px;
}
.paralist li {
   margin-right: 20px;
   list-style: none;
   color: #1F74BF;
   font-size: 15px;
   
}
.paralist p{
    font-size: 12px;
    padding-right: 30px;
}
.paralist a{
    text-decoration: none;
}
.paralist li:hover{
    color: rgb(156, 176, 245);
}
.butinline{
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
}

#filtre{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 25px;
    border-radius: 5px;
    border-right: 1px solid;
    background-color: #E1ECF4;
}
#filtre:hover{
    background-color: #2B94FB;
}
.butinline p{
    margin-right: 160px;
    padding-left: 0%;
    margin-left: 0%;
    font-size: 18px;
    font-style: normal;
}
.butinline a{
    text-decoration: none;
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    color: rgb(104, 102, 102);
    padding: 10px 8px 10px 8px;
    font-size: 12px;
}
.butinline em{
    color: white;  
}

.butinline a em{
    background-color: #1F74BF;   
}

    
.butinline a:hover{
background-color: #E3E6E8;
}

.ask{
    border-radius: 5px;

}
#more{
    border-right: 1px solid;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
#newest{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
/*------------------------side left-------------------*/

.sideLeft{
   overflow:hidden;
   overflow-x: hidden;
   overflow-y: hidden;
   flex-basis: 300px;
   font-size: 13px;
}

.sideLeft li {
    list-style: none;
    margin-bottom: 20px;
    color: #525960;
    margin-left: 10px;
}
    
.sideLeft a {
    text-decoration: none;
    color: #525960;
    padding-left: 20px;
}

.sideLeft li i{
    padding: 5px;
}

.sideLeft p{
    color: #525960;
}
.sideLeft a li:hover{
    color: black;
}
.create{
    height:30px;
    width:130px;
    font-size: 10px;
    background-color: blue;
    color: white;
    border-radius: 4px;
    
}
.team {
    font-size: 11px;
    padding-left: 20px;
    
}
.team ul {
    margin-top: 20px;
}
.team p em{
    font-weight: bolder;
    color: black;
}
.team a {
    text-align: center;
}
.body{
    display: flex;
}
